body {

    background-image: url("blur.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    font-family: 'Montserrat', serif;
    font-size: 22px;
}



#textBar{
    text-align: center;
    background: #dfdfdf;
    border-radius: 30px;
    color: black;
    font-size: 25px;
    font-family: Montserrat-Thin, sans-serif;
}

.button {
    font-size: 20px;
    border-radius: 10px;
    background: transparent;
    font-family: Montserrat-Thin, sans-serif;
}

#multipleChoice1, #multipleChoice2{
    font-size: 20px;
    border-radius: 10px;
    background: transparent;
    font-family: Montserrat-Thin, sans-serif;
}

button{
    font-size: 20px;
    border-radius: 10px;
    background: transparent;
    font-family: Montserrat-Thin, sans-serif;
}



