body {

    background-image: url("resources/blur.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    font-family: 'Montserrat', serif;
    font-size: 22px;
}

.question{

}

#bar{
    text-align: center;
    background: #dfdfdf;
    border-radius: 30px;
    color: black;
    font-size: 25px;
    font-family: Montserrat-Thin, sans-serif;
}

#btn{
    font-size: 20px;
    border-radius: 10px;
    background: transparent;
    font-family: Montserrat-Thin, sans-serif;

}



