<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="style.css">
    <script type="text/javascript" src="jsLogic.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <title>Choices</title>

</head>
<body>

<div class="bg">
    <div id="title">
        <header>WE MATTER</header>
    </div>
    <div>

    <a href="#" id="button1"><span>ENTER</span></a>
        <a href="#" id="button2"><span>NAO</span></a>
   <!-- <a href="#" id="button3"><span>C</span></a>
        <a href="#" id="button4"><span>D</span></a>-->
    </div>

</div>


</body>
</html>