<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <script type="text/javascript" src="jsLogic.js"></script>
    <title>Choices</title>
</head>
<body >

<div class="bg">
    <div id="title">
        <header>FOR FREE</header>
    </div>
    <div class="buttons">
        <div>
            <button type="button">YES</button>

            <button type="button">NO</button>
        </div>
        <div>
            <button type="button">MAYBE</button>

            <button type="button">I PREFER NOT TO ANSWER</button>
        </div>
    </div>
</div>





</body>
</html>