<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Safe Place</title>
    <link href="resources/css/theStyle.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Dosis:700" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
</head>
<body>

<div id="main">

    <div id="logo" >
        <img style="height: 100px" src="resources/images/logo.png">
    </div>

    <div class="box">
        <a href="who-are-you" style="height: 50px" class="btn btn-white btn-animation-1">DIVE IN</a>
    </div>

</div>
</body>

</html>