<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="profile.css">
    <link href="https://fonts.googleapis.com/css?family=Vollkorn&display=swap" rel="stylesheet">
    <title>Title</title>
</head>

<body>
    <div class="welcome">
        <h1>Olá, Ricardo!</h1>
        <!-- name to be inserted by JS -->
        <h6>Perfil criado: 09 de Agosto de 2019</h6>
    </div>
    <div class="question">
        <table>
            <tr>
                <th>
                    <div class="card">
                        <img src="https://www.abola.pt//img/fotos/abola2015/FOTOSAP/ITALIA/2018/ronaldo2.jpg(41 kB)
https://www.abola.pt//img/fotos/abola2015/FOTOSAP/ITALIA/2018/ronaldo2.jpg
" alt="John" style="width:100%">
                        <h2>Cristiano Ronaldo</h2>
                        <p class="title">Futebolista</p>
                        <p>Juventus</p>
                        <a href="#"><i class="fa fa-dribbble"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <p><button>Contactar</button></p>
                    </div>
                </th>
                <th>
                    <div class="card">
                        <img src="https://www.abola.pt//img/fotos/abola2015/FOTOSAP/ITALIA/2018/ronaldo2.jpg(41 kB)
https://www.abola.pt//img/fotos/abola2015/FOTOSAP/ITALIA/2018/ronaldo2.jpg
" alt="John" style="width:100%">
                        <h2>Cristiano Ronaldo</h2>
                        <p class="title">Futebolista</p>
                        <p>Juventus</p>
                        <a href="#"><i class="fa fa-dribbble"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <p><button>Contactar</button></p>
                    </div>
                </th>
                <th>
                    <div class="card">
                        <img src="https://www.abola.pt//img/fotos/abola2015/FOTOSAP/ITALIA/2018/ronaldo2.jpg(41 kB)
https://www.abola.pt//img/fotos/abola2015/FOTOSAP/ITALIA/2018/ronaldo2.jpg
" alt="John" style="width:100%">
                        <h2>Cristiano Ronaldo</h2>
                        <p class="title">Futebolista</p>
                        <p>Juventus</p>
                        <a href="#"><i class="fa fa-dribbble"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <p><button>Contactar</button></p>
                    </div>
                </th>
            </tr>
            <tr>
                <th>
                    <div class="card">
                        <img src="https://www.abola.pt//img/fotos/abola2015/FOTOSAP/ITALIA/2018/ronaldo2.jpg" alt="John" style="width:100%">
                        <h2>Cristiano Ronaldo</h2>
                        <p class="title">Futebolista</p>
                        <p>Juventus</p>
                        <a href="#"><i class="fa fa-dribbble"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <p><button>Contactar</button></p>
                    </div>
                </th>
                <th>
                    <div class="card">
                        <img src="https://www.abola.pt//img/fotos/abola2015/FOTOSAP/ITALIA/2018/ronaldo2.jpg" alt="John" style="width:100%">
                        <h2>Cristiano Ronaldo</h2>
                        <p class="title">Futebolista</p>
                        <p>Juventus</p>
                        <a href="#"><i class="fa fa-dribbble"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <p><button>Contactar</button></p>
                    </div>
                </th>
                <th>
                    <div class="card">
                        <img src="https://www.abola.pt//img/fotos/abola2015/FOTOSAP/ITALIA/2018/ronaldo2.jpg" alt="John" style="width:100%">
                        <h2>Cristiano Ronaldo</h2>
                        <p class="title">Futebolista</p>
                        <p>Juventus</p>
                        <a href="#"><i class="fa fa-dribbble"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <p><button>Contactar</button></p>
                    </div>
                </th>
            </tr>
        </table>
</body>

</html>