<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="questiontest.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:800&display=swap" rel="stylesheet"> 

    <title>what is your name?</title>
</head>
<body>

<div>
    <div style="margin-top: 18%">
        <h1 class="question" align="center">what is your name?</h1>
    </div>
    <div style="text-align: center">
        <input style="height: 25px; width: 20%" class="button" type="text" ><br>
        <input style="height: 5%; width: 5%"  class="button" type="submit" value="Submit">
    </div>
</div>
</body>
</html>