body, html {
    height: 100%;
    padding: 0;
    margin: 0;
}

.bg {
    /* The image used */
    background-image: url('resources/3.jpg');

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#title {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    color: white;
    font-size: 100px;
    font-family: 'Montserrat-Black-Italic', sans-serif;
    font-style: italic;

}

.buttons {
    display: flex;
    flex-wrap: wrap;
    font-family: 'Montserrat-Black', sans-serif;
    font-style: italic;

}

button {
    width: 20px;
    padding: 4px 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    border-radius: 3px;

    font-family: 'Montserrat', sans-serif;
    background-color: #ABFFE6;
}





