<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="yourName.css">
    <link href="https://fonts.googleapis.com/css?family=Vollkorn&display=swap" rel="stylesheet">
    <title>What is your name?</title>
</head>
<body>

<div>
    <div style="margin-top: 18%">
        <h2 class="question" align="center">What is your name?</h2>
    </div>
    <div style="text-align: center">
        <input style="height: 25px; width: 20%" class="button" type="text" ><br>
        <input style="height: 5%; width: 5%"  class="button" type="submit" value="Next">
    </div>
</div>
</body>
</html>