body {

    background: url("teste.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    font-family: 'Vollkorn', serif;
    font-size: 22px;
}

.question{

}

.button{

    border-radius: 20px;
}
