<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="yourName.css">

    <link href="https://fonts.googleapis.com/css?family=Montserrat:800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,100i&display=swap" rel="stylesheet">

    <title>What is your name?</title>
</head>
<body>

<div>
    <div style="margin-top: 18%">
        <h1 class="question" align="center">what's your name?</h1>
    </div>

    <div id="form" style="text-align: center">
        <input id="bar"  style="height: 25px; width: 40%" class="button" type="text" ><br>
        <input id="btn"  style="height: 5%; width: 20%"  class="button" type="submit" value="Next">
    </div>

</div>
</body>
</html>